/*styles for website folder's site*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
     font-family: 'Inter', sans-serif;
}

body{
    background:white;
    
}

header{
    background:#f5b28c;
    height:150px;
    overflow:hidden;
    margin-bottom: 20px;
    padding:40px 0;
    
}

.inner-header {
    width:940px;
    margin:0 auto;
}
#logo {
    height: 100px;
    float: left;
}



nav ul {
    float:right;
}

nav li {
    float:left;
    margin-left:50px;
    list-style-type: none;
    font-weight:700;
}
a:link, a:visited {
    color:#52021f;
}

a:hover {
    color: #04757d;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}


nav a {
    text-decoration:none;
}

a.active {
    color:darkgreen;
    font-weight: 900;
}


#wrapper{
 width:90%;
    margin:0 auto; 
    clear:both;
}

#hero {
    background:#f5e5d7;
    height:300px; 
    /* once we have an image remove the height of the hero and or background*/
    margin-bottom:20px;
}

main{
    width:580px;
    float:left;
    margin-bottom: 20px;
}

aside{
    width:340px;
    float:right;
    margin-bottom: 20px;
}

footer{
    height:50px;
    line-height:50px;
    border-top:1px solid grey;
    clear: both;
}

footer a {
    text-decoration-line: underline;
  text-decoration-style: dotted;
}

footer li {
    float:left;
    margin-right:30px;
    list-style-type:none;
}