/*styles for website folder's site*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
     font-family: 'Inter', sans-serif;
}

body{
    background:#d3dff2;
    
}

header{
    background:#97add1;
    height:150px;
    overflow:hidden;
    margin-bottom: 20px;
    padding:40px 0;
    border-bottom:1px #18325c solid;
    
}

.inner-header {
    width:940px;
    margin:0 auto;
}
#logo {
    height: 100px;
    float: left;
}



nav ul {
    float:right;
}

nav li {
    float:left;
    margin-left:50px;
    list-style-type: none;
    font-weight:700;
}
a:link, a:visited {
    color:#52021f;
}

a:hover {
    color: #04757d;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}


nav a {
    text-decoration:none;
}

a.active {
    color:#195159;
    font-weight: 900;
}


#wrapper{
 width:90%;
    margin:0 auto; 
    clear:both;
}

wrapper.pink {
background:pink;
}

wrapper.yellow {
background:yellow;
}
wrapper.lightblue {
background:lightblue;
}
wrapper.beige {
background:beige;
}
wrapper.orange {
background:orange;
}
wrapper.grey {
background:grey;
}
wrapper.lightgreen {
    background:lightgreen;}

#hero {
    background:#f5e5d7;
    height:300px; 
    /* once we have an image remove the height of the hero and or background*/
    margin-bottom:20px;
}

main{
    width:60%;
    float:left;
    margin-bottom: 20px;
}

h1{
    color:#300511;
   margin:0 auto;
    padding-bottom: 30px;
}
img {
    max-width:60;
}
aside{
    width:30%;
    float:right;
    margin-bottom: 20px;
}

aside li {
 list-style: circle;   
}

footer{
    height:50px;
    line-height:50px;
    border-top:1px solid grey;
    clear: both;
}

footer a {
    text-decoration-line: underline;
  text-decoration-style: dotted;
}

footer li {
    float:left;
    margin-right:30px;
    list-style-type:none;
}